<div class="container mt-4">

  <div class="d-flex justify-content-between mb-3">
    <input #searchInput type="text" class="form-control w-50" placeholder="Search products..."
           (input)="onSearchChange(searchInput.value)">
    
    <select class="form-select w-25" (change)="onSortChange($event)">
      @for(option of sortOptions; track $index) {
        <option [value]="option.value">{{ option.name }}</option>
      }
    </select>

    <button class="btn btn-dark ms-2" (click)="resetFilters()">Reset</button>
  </div>

  <div *ngIf="loading" class="text-center my-5">
    <h5>Loading...</h5>
  </div>

  <div class="row g-4">
    @for(product of products; track $index) {
      <div class="col-md-4">
        <div class="card h-100">
          <img [src]="'https://localhost:7151' + product.imagePath?.[0]" class="card-img-top product-img">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">
              Category: {{ product.category }}<br>
              Price: {{ product.price | currency }}<br>
              Minimum Quantity: {{ product.minimumQuantity }}<br>
              Discount: {{ product.discountRate }}%
            </p>
            <button class="btn btn-primary me-2">Add to Cart</button>
            <button class="btn btn-success me-2">Details</button>
          </div>
        </div>
      </div>
    }
  </div>

  <nav *ngIf="totalPages > 1" class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="productParams.pageNumber === 1">
        <button class="page-link" (click)="goToPage(productParams.pageNumber - 1)">Previous</button>
      </li>
      <li class="page-item" *ngFor="let page of totalPagesArray; let i = index"
          [class.active]="productParams.pageNumber === i + 1">
        <button class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</button>
      </li>
      <li class="page-item" [class.disabled]="productParams.pageNumber === totalPages">
        <button class="page-link" (click)="goToPage(productParams.pageNumber + 1)">Next</button>
      </li>
    </ul>
  </nav>

</div>
